In [1]:
import random
import numpy as np
from queryParser import queryParser,listToQuery
from functions import *
import psycopg2
from moz_sql_parser import parse
from moz_sql_parser import format
from FanOut import *
joinedClauses=[]
alias={}
def init():
    
    joinedClauses=[]
    alias={}
    

            
            
            ##########################################################################################
def get_joinedClause(t,joinedClauses):
    
    i=0
    while i<len(joinedClauses):
        c=joinedClauses[i]
        r1=c[0].rpartition('.')[0]
        r2=c[1].rpartition('.')[0]
        if((t==r1)and('t'==r2))or((t==r2)and('t'==r1)):
            return c
        else:
            i+=1  
    return ''


def get_alias(clause):
    a1=clause[0].rpartition('.')[0]
    a2=clause[1].rpartition('.')[0]
    return a1,a2


def t_exist(t,table):
    i=0
    while i<len(table) and table[i]!=t:
        i+=1
    if i==len(table) :
        return False
    else:
        return True

        
def exist(a1,a2,usedTables):
    if(t_exist(a1,usedTables)and t_exist(a2,usedTables)):
        return []
    elif (t_exist(a1,usedTables)):
        return [a2]
    elif (t_exist(a2,usedTables)):
        return [a1]
    else:
        return [a1,a2]
    
def trierClauses(input,cursor,joinedClauses):
    result=[]
    clauses=[]
    clauses.extend(joinedClauses)
    fanout=FanOut(input,cursor).keys()
    
    for f in fanout:
        t1=
        c=get_joinedClause(t,joinedClauses)
        if len(c)>0:
            result.append(c)    
    result.extend(clauses)  
    return result
            
        
def get_randomState(input,cursor):
    joinedTables ,joinedClauses,parsed_query , alias=queryParser(input)
    usedTables=[]
    queryTables={}
    # extend
    queryTables.update(alias)
    #print('qieryTables',queryTables)
    new_json=parsed_query
    clauses=trierClauses(input,cursor,joinedClauses)
    print('state',clauses)
    a1,a2=get_alias(clauses[0])
    print(a1,a2)
    p=np.random.randint(2)
    if p==0:
        new_from=[{"value":alias[a1],"name":a1},{'join':{'name':a2,'value':alias[a2]} , 'on':{'eq':clauses[0]}  }]
        
    else:
        new_from=[{"value":alias[a2],"name":a2},{'join':{'name':a1,'value':alias[a1]}, 'on':{'eq':clauses[0]}   }]
    usedTables.append(a1)
    usedTables.append(a2)
    #print(new_from)
    clauses.remove(clauses[0])
    del queryTables[a1]
    del queryTables[a2]
    #print('queryTables',len(queryTables))
    
    while(len(queryTables)>0):
        i=0
        
        while(i<len(clauses)) :
            print('iii',i)
            
            a1,a2=get_alias(clauses[i])
            print(a1,a2)
            print('used table',usedTables)
            c=exist(a1,a2,usedTables)
            print('cc',c)
            if(len(c)==1):
                print('esss')
                new_from.append({'join':{'name':c[0],'value':alias[c[0]]}, 'on':{'eq':clauses[i]}})
                usedTables.append(c[0])
                del queryTables[c[0]]
                print('queryTables',len(queryTables))
                clauses.remove(clauses[i])
            elif(len(c)==0):
                clauses.remove(clauses[i])
                
            else:
                i+=1
            print("clauseeeees",clauses)
            
            
    
    new_json["from"]=new_from
    where_clause=new_json["where"]["and"]
    for t in where_clause :
        if "eq" in t:
            if isinstance(t['eq'][1],str):
                joinedClauses.append(t['eq'])
                del(t)
    new_query=format(new_json)
    return new_json,new_query

In [2]:
conn,cursor = connect_bdd("job")
input="SELECT MIN(chn.name) AS voiced_char,MIN(n.name) AS voicing_actress,MIN(t.title) AS voiced_animation FROM aka_name AS an,complete_cast AS cc,comp_cast_type AS cct1,comp_cast_type AS cct2,char_name AS chn,cast_info AS ci,company_name AS cn,info_type AS it,info_type AS it3,keyword AS k,movie_companies AS mc,movie_info AS mi,movie_keyword AS mk,name AS n,person_info AS pi,role_type AS rt,title AS t WHERE cct1.kind ='cast' AND cct2.kind ='complete+verified' AND chn.name = 'Queen' AND ci.note IN ('(voice)','(voice) (uncredited)','(voice: English version)')AND cn.country_code ='[us]'AND it.info = 'release dates'AND it3.info = 'height'AND k.keyword = 'computer-animation'AND mi.info LIKE 'USA:%200%'AND n.gender ='f'AND n.name LIKE '%An%'AND rt.role ='actress'AND t.title = 'Shrek 2'AND t.production_year BETWEEN 2000 AND 2005 AND t.id = mi.movie_id AND t.id = mc.movie_id AND t.id = ci.movie_id AND t.id = mk.movie_id AND t.id = cc.movie_id AND mc.movie_id = ci.movie_id AND mc.movie_id = mi.movie_id AND mc.movie_id = mk.movie_id AND mc.movie_id = cc.movie_id AND mi.movie_id = ci.movie_id AND mi.movie_id = mk.movie_id AND mi.movie_id = cc.movie_id AND ci.movie_id = mk.movie_id AND ci.movie_id = cc.movie_id AND mk.movie_id = cc.movie_id AND cn.id = mc.company_id AND it.id = mi.info_type_id AND n.id = ci.person_id AND rt.id = ci.role_id AND n.id = an.person_id AND ci.person_id = an.person_id AND chn.id = ci.person_role_id AND n.id = pi.person_id AND ci.person_id = pi.person_id AND it3.id = pi.info_type_id AND k.id = mk.keyword_id AND cct1.id = cc.subject_id  AND cct2.id = cc.status_id;"
new_json,randomState=get_randomState(input,cursor)
#print('jsooon',new_json)
print('randomState',randomState)

ressssssssilt {'cct1': [{'eq': ['cct1.kind', {'literal': 'cast'}]}], 'cct2': [{'eq': ['cct2.kind', {'literal': 'complete+verified'}]}], 'chn': [{'eq': ['chn.name', {'literal': 'Queen'}]}], 'ci': [{'in': ['ci.note', {'literal': ['(voice)', '(voice) (uncredited)', '(voice: English version)']}]}], 'cn': [{'eq': ['cn.country_code', {'literal': '[us]'}]}], 'it': [{'eq': ['it.info', {'literal': 'release dates'}]}], 'it3': [{'eq': ['it3.info', {'literal': 'height'}]}], 'k': [{'eq': ['k.keyword', {'literal': 'computer-animation'}]}], 'mi': [{'like': ['mi.info', {'literal': 'USA:%200%'}]}], 'n': [{'eq': ['n.gender', {'literal': 'f'}]}, {'like': ['n.name', {'literal': '%An%'}]}], 'rt': [{'eq': ['rt.role', {'literal': 'actress'}]}], 't': [{'eq': ['t.title', {'literal': 'Shrek 2'}]}, {'between': ['t.production_year', 2000, 2005]}]}
query select count(*) from title t WHERE t.title = 'Shrek 2' AND t.production_year BETWEEN 2000 AND 2005
t mi
t mc
t ci
t mk
t cc
mc ci
mc mi
mc mk
mc cc
mi ci
mi mk
mi cc
ci mk
ci cc
mk cc
cn mc
it mi
n ci
rt ci
n an
ci an
chn ci
n pi
ci pi
it3 pi
k mk
cct1 cc
cct2 cc
title Tables Sel {'mi': [{'like': ['mi.info', {'literal': 'USA:%200%'}]}], 'ci': [{'in': ['ci.note', {'literal': ['(voice)', '(voice) (uncredited)', '(voice: English version)']}]}]}
query SELECT COUNT(*) FROM title AS t LEFT JOIN movie_info AS mi ON t.id = mi.movie_id WHERE mi.info LIKE 'USA:%200%' AND t.title = 'Shrek 2' AND t.production_year BETWEEN 2000 AND 2005
query SELECT COUNT(*) FROM title AS t LEFT JOIN cast_info AS ci ON t.id = ci.movie_id WHERE ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)') AND t.title = 'Shrek 2' AND t.production_year BETWEEN 2000 AND 2005
tablewithsel {'mi': 1.0, 'ci': 33.0}
query select count(*) from title t left join movie_companies as mc on t.id = mc.movie_id
query select count(*) from title t left join movie_keyword as mk on t.id = mk.movie_id
query select count(*) from title t left join complete_cast as cc on t.id = cc.movie_id
faaaaanout {'mi': 1.0, 'ci': 33.0, 'mc': 3683029.0, 'mk': 5668624.5, 'cc': 2338751.5}
state [['t.id', 'mi.movie_id'], ['t.id', 'ci.movie_id'], ['t.id', 'cc.movie_id'], ['t.id', 'mc.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'mi.movie_id'], ['t.id', 'mc.movie_id'], ['t.id', 'ci.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'cc.movie_id'], ['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
t mi
iii 0
t ci
used table ['t', 'mi']
cc ['ci']
esss
queryTables 14
clauseeeees [['t.id', 'cc.movie_id'], ['t.id', 'mc.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'mi.movie_id'], ['t.id', 'mc.movie_id'], ['t.id', 'ci.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'cc.movie_id'], ['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
t cc
used table ['t', 'mi', 'ci']
cc ['cc']
esss
queryTables 13
clauseeeees [['t.id', 'mc.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'mi.movie_id'], ['t.id', 'mc.movie_id'], ['t.id', 'ci.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'cc.movie_id'], ['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
t mc
used table ['t', 'mi', 'ci', 'cc']
cc ['mc']
esss
queryTables 12
clauseeeees [['t.id', 'mk.movie_id'], ['t.id', 'mi.movie_id'], ['t.id', 'mc.movie_id'], ['t.id', 'ci.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'cc.movie_id'], ['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
t mk
used table ['t', 'mi', 'ci', 'cc', 'mc']
cc ['mk']
esss
queryTables 11
clauseeeees [['t.id', 'mi.movie_id'], ['t.id', 'mc.movie_id'], ['t.id', 'ci.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'cc.movie_id'], ['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
t mi
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['t.id', 'mc.movie_id'], ['t.id', 'ci.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'cc.movie_id'], ['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
t mc
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['t.id', 'ci.movie_id'], ['t.id', 'mk.movie_id'], ['t.id', 'cc.movie_id'], ['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
t ci
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['t.id', 'mk.movie_id'], ['t.id', 'cc.movie_id'], ['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
t mk
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['t.id', 'cc.movie_id'], ['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
t cc
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['mc.movie_id', 'ci.movie_id'], ['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
mc ci
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['mc.movie_id', 'mi.movie_id'], ['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
mc mi
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['mc.movie_id', 'mk.movie_id'], ['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
mc mk
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['mc.movie_id', 'cc.movie_id'], ['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
mc cc
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['mi.movie_id', 'ci.movie_id'], ['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
mi ci
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['mi.movie_id', 'mk.movie_id'], ['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
mi mk
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['mi.movie_id', 'cc.movie_id'], ['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
mi cc
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['ci.movie_id', 'mk.movie_id'], ['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
ci mk
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['ci.movie_id', 'cc.movie_id'], ['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
ci cc
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['mk.movie_id', 'cc.movie_id'], ['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
mk cc
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc []
clauseeeees [['cn.id', 'mc.company_id'], ['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
cn mc
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk']
cc ['cn']
esss
queryTables 10
clauseeeees [['it.id', 'mi.info_type_id'], ['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
it mi
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk', 'cn']
cc ['it']
esss
queryTables 9
clauseeeees [['n.id', 'ci.person_id'], ['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
n ci
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk', 'cn', 'it']
cc ['n']
esss
queryTables 8
clauseeeees [['rt.id', 'ci.role_id'], ['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
rt ci
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk', 'cn', 'it', 'n']
cc ['rt']
esss
queryTables 7
clauseeeees [['n.id', 'an.person_id'], ['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
n an
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk', 'cn', 'it', 'n', 'rt']
cc ['an']
esss
queryTables 6
clauseeeees [['ci.person_id', 'an.person_id'], ['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
ci an
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk', 'cn', 'it', 'n', 'rt', 'an']
cc []
clauseeeees [['chn.id', 'ci.person_role_id'], ['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
chn ci
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk', 'cn', 'it', 'n', 'rt', 'an']
cc ['chn']
esss
queryTables 5
clauseeeees [['n.id', 'pi.person_id'], ['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
n pi
used table ['t', 'mi', 'ci', 'cc', 'mc', 'mk', 'cn', 'it', 'n', 'rt', 'an', 'chn']
cc ['pi']
esss
queryTables 4
clauseeeees [['ci.person_id', 'pi.person_id'], ['it3.id', 'pi.info_type_id'], ['k.id', 'mk.keyword_id'], ['cct1.id', 'cc.subject_id'], ['cct2.id', 'cc.status_id']]
iii 0
ci pi

In [3]:
from queryParser import *
p=parse("select * from c where c.id='hhhhh' and v.id='kkkkkk'")
p

{'select': '*',
 'from': 'c',
 'where': {'and': [{'eq': ['c.id', {'literal': 'hhhhh'}]},
   {'eq': ['v.id', {'literal': 'kkkkkk'}]}]}}

In [1]:
from FanOutAll import *
conn,cursor = connect_bdd("job")
input="SELECT MIN(chn.name) AS voiced_char,MIN(n.name) AS voicing_actress,MIN(t.title) AS voiced_animation FROM aka_name AS an,complete_cast AS cc,comp_cast_type AS cct1,comp_cast_type AS cct2,char_name AS chn,cast_info AS ci,company_name AS cn,info_type AS it,info_type AS it3,keyword AS k,movie_companies AS mc,movie_info AS mi,movie_keyword AS mk,name AS n,person_info AS pi,role_type AS rt,title AS t WHERE cct1.kind ='cast' AND cct2.kind ='complete+verified' AND chn.name = 'Queen' AND ci.note IN ('(voice)','(voice) (uncredited)','(voice: English version)')AND cn.country_code ='[us]'AND it.info = 'release dates'AND it3.info = 'height'AND k.keyword = 'computer-animation'AND mi.info LIKE 'USA:%200%'AND n.gender ='f'AND n.name LIKE '%An%'AND rt.role ='actress'AND t.title = 'Shrek 2'AND t.production_year BETWEEN 2000 AND 2005 AND t.id = mi.movie_id AND t.id = mc.movie_id AND t.id = ci.movie_id AND t.id = mk.movie_id AND t.id = cc.movie_id AND mc.movie_id = ci.movie_id AND mc.movie_id = mi.movie_id AND mc.movie_id = mk.movie_id AND mc.movie_id = cc.movie_id AND mi.movie_id = ci.movie_id AND mi.movie_id = mk.movie_id AND mi.movie_id = cc.movie_id AND ci.movie_id = mk.movie_id AND ci.movie_id = cc.movie_id AND mk.movie_id = cc.movie_id AND cn.id = mc.company_id AND it.id = mi.info_type_id AND n.id = ci.person_id AND rt.id = ci.role_id AND n.id = an.person_id AND ci.person_id = an.person_id AND chn.id = ci.person_role_id AND n.id = pi.person_id AND ci.person_id = pi.person_id AND it3.id = pi.info_type_id AND k.id = mk.keyword_id AND cct1.id = cc.subject_id  AND cct2.id = cc.status_id;"
r=FanOut(input,cursor)
print('rrrrrrrrrrrrrrrrrrrrrrrrrrr',r)

ttttttttttttttttttt {'cct1': [{'eq': ['cct1.kind', {'literal': 'cast'}]}], 'cct2': [{'eq': ['cct2.kind', {'literal': 'complete+verified'}]}], 'chn': [{'eq': ['chn.name', {'literal': 'Queen'}]}], 'ci': [{'in': ['ci.note', {'literal': ['(voice)', '(voice) (uncredited)', '(voice: English version)']}]}], 'cn': [{'eq': ['cn.country_code', {'literal': '[us]'}]}], 'it': [{'eq': ['it.info', {'literal': 'release dates'}]}], 'it3': [{'eq': ['it3.info', {'literal': 'height'}]}], 'k': [{'eq': ['k.keyword', {'literal': 'computer-animation'}]}], 'mi': [{'like': ['mi.info', {'literal': 'USA:%200%'}]}], 'n': [{'eq': ['n.gender', {'literal': 'f'}]}, {'like': ['n.name', {'literal': '%An%'}]}], 'rt': [{'eq': ['rt.role', {'literal': 'actress'}]}], 't': [{'eq': ['t.title', {'literal': 'Shrek 2'}]}, {'between': ['t.production_year', 2000, 2005]}]}
t mi
3
qqqqqqqqqqqqqq SELECT COUNT(*) FROM title AS t LEFT JOIN movie_info AS mi ON t.id = mi.movie_id WHERE t.title = 'Shrek 2' AND t.production_year BETWEEN 2000 AND 2005 AND mi.info LIKE 'USA:%200%'
t mc
t1 [{'eq': ['t.title', {'literal': 'Shrek 2'}]}, {'between': ['t.production_year', 2000, 2005]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM title AS t LEFT JOIN movie_companies AS mc ON t.id = mc.movie_id WHERE t.title = 'Shrek 2' AND t.production_year BETWEEN 2000 AND 2005
t ci
3
qqqqqqqqqqqqqq SELECT COUNT(*) FROM title AS t LEFT JOIN cast_info AS ci ON t.id = ci.movie_id WHERE t.title = 'Shrek 2' AND t.production_year BETWEEN 2000 AND 2005 AND ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
t mk
t1 [{'eq': ['t.title', {'literal': 'Shrek 2'}]}, {'between': ['t.production_year', 2000, 2005]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM title AS t LEFT JOIN movie_keyword AS mk ON t.id = mk.movie_id WHERE t.title = 'Shrek 2' AND t.production_year BETWEEN 2000 AND 2005
t cc
t1 [{'eq': ['t.title', {'literal': 'Shrek 2'}]}, {'between': ['t.production_year', 2000, 2005]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM title AS t LEFT JOIN complete_cast AS cc ON t.id = cc.movie_id WHERE t.title = 'Shrek 2' AND t.production_year BETWEEN 2000 AND 2005
mc ci
t2 [{'in': ['ci.note', {'literal': ['(voice)', '(voice) (uncredited)', '(voice: English version)']}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM movie_companies AS mc LEFT JOIN cast_info AS ci ON mc.movie_id = ci.movie_id WHERE ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
mc mi
t2 [{'like': ['mi.info', {'literal': 'USA:%200%'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM movie_companies AS mc LEFT JOIN movie_info AS mi ON mc.movie_id = mi.movie_id WHERE mi.info LIKE 'USA:%200%'
mc mk
qqqqqqqqqqqqqq SELECT COUNT(*) FROM movie_companies AS mc LEFT JOIN movie_keyword AS mk ON mc.movie_id = mk.movie_id
mc cc
qqqqqqqqqqqqqq SELECT COUNT(*) FROM movie_companies AS mc LEFT JOIN complete_cast AS cc ON mc.movie_id = cc.movie_id
mi ci
2
qqqqqqqqqqqqqq SELECT COUNT(*) FROM movie_info AS mi LEFT JOIN cast_info AS ci ON mi.movie_id = ci.movie_id WHERE mi.info LIKE 'USA:%200%' AND ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
mi mk
t1 [{'like': ['mi.info', {'literal': 'USA:%200%'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM movie_info AS mi LEFT JOIN movie_keyword AS mk ON mi.movie_id = mk.movie_id WHERE mi.info LIKE 'USA:%200%'
mi cc
t1 [{'like': ['mi.info', {'literal': 'USA:%200%'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM movie_info AS mi LEFT JOIN complete_cast AS cc ON mi.movie_id = cc.movie_id WHERE mi.info LIKE 'USA:%200%'
ci mk
t1 [{'in': ['ci.note', {'literal': ['(voice)', '(voice) (uncredited)', '(voice: English version)']}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM cast_info AS ci LEFT JOIN movie_keyword AS mk ON ci.movie_id = mk.movie_id WHERE ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
ci cc
t1 [{'in': ['ci.note', {'literal': ['(voice)', '(voice) (uncredited)', '(voice: English version)']}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM cast_info AS ci LEFT JOIN complete_cast AS cc ON ci.movie_id = cc.movie_id WHERE ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
mk cc
qqqqqqqqqqqqqq SELECT COUNT(*) FROM movie_keyword AS mk LEFT JOIN complete_cast AS cc ON mk.movie_id = cc.movie_id
cn mc
t1 [{'eq': ['cn.country_code', {'literal': '[us]'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM company_name AS cn LEFT JOIN movie_companies AS mc ON cn.id = mc.company_id WHERE cn.country_code = '[us]'
it mi
2
qqqqqqqqqqqqqq SELECT COUNT(*) FROM info_type AS it LEFT JOIN movie_info AS mi ON it.id = mi.info_type_id WHERE it.info = 'release dates' AND mi.info LIKE 'USA:%200%'
n ci
3
qqqqqqqqqqqqqq SELECT COUNT(*) FROM name AS n LEFT JOIN cast_info AS ci ON n.id = ci.person_id WHERE n.gender = 'f' AND n.name LIKE '%An%' AND ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
rt ci
2
qqqqqqqqqqqqqq SELECT COUNT(*) FROM role_type AS rt LEFT JOIN cast_info AS ci ON rt.id = ci.role_id WHERE rt.role = 'actress' AND ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
n an
t1 [{'eq': ['n.gender', {'literal': 'f'}]}, {'like': ['n.name', {'literal': '%An%'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM name AS n LEFT JOIN aka_name AS an ON n.id = an.person_id WHERE n.gender = 'f' AND n.name LIKE '%An%'
ci an
t1 [{'in': ['ci.note', {'literal': ['(voice)', '(voice) (uncredited)', '(voice: English version)']}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM cast_info AS ci LEFT JOIN aka_name AS an ON ci.person_id = an.person_id WHERE ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
chn ci
2
qqqqqqqqqqqqqq SELECT COUNT(*) FROM char_name AS chn LEFT JOIN cast_info AS ci ON chn.id = ci.person_role_id WHERE chn.name = 'Queen' AND ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
n pi
t1 [{'eq': ['n.gender', {'literal': 'f'}]}, {'like': ['n.name', {'literal': '%An%'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM name AS n LEFT JOIN person_info AS pi ON n.id = pi.person_id WHERE n.gender = 'f' AND n.name LIKE '%An%'
ci pi
t1 [{'in': ['ci.note', {'literal': ['(voice)', '(voice) (uncredited)', '(voice: English version)']}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM cast_info AS ci LEFT JOIN person_info AS pi ON ci.person_id = pi.person_id WHERE ci.note IN ('(voice)', '(voice) (uncredited)', '(voice: English version)')
it3 pi
t1 [{'eq': ['it3.info', {'literal': 'height'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM info_type AS it3 LEFT JOIN person_info AS pi ON it3.id = pi.info_type_id WHERE it3.info = 'height'
k mk
t1 [{'eq': ['k.keyword', {'literal': 'computer-animation'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM keyword AS k LEFT JOIN movie_keyword AS mk ON k.id = mk.keyword_id WHERE k.keyword = 'computer-animation'
cct1 cc
t1 [{'eq': ['cct1.kind', {'literal': 'cast'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM comp_cast_type AS cct1 LEFT JOIN complete_cast AS cc ON cct1.id = cc.subject_id WHERE cct1.kind = 'cast'
cct2 cc
t1 [{'eq': ['cct2.kind', {'literal': 'complete+verified'}]}]
qqqqqqqqqqqqqq SELECT COUNT(*) FROM comp_cast_type AS cct2 LEFT JOIN complete_cast AS cc ON cct2.id = cc.status_id WHERE cct2.kind = 'complete+verified'
rrrrrrrrrrrrrrrrrrrrrrrrrrr {'t.mi': 2, 't.cc': 2, 't.mc': 29, 't.ci': 66, 't.mk': 163, 'chn.ci': 194, 'k.mk': 562, 'n.ci': 13808, 'cct2.cc': 24592, 'n.an': 82098, 'cct1.cc': 85941, 'n.pi': 128115, 'it3.pi': 222431, 'mi.ci': 309922, 'it.mi': 463914, 'mi.cc': 469939, 'rt.ci': 516939, 'mc.mi': 998705, 'ci.cc': 1575290, 'cn.mc': 2216160, 'mi.mk': 3245787, 'mc.ci': 3825840, 'ci.an': 4470299, 'mc.cc': 5197136, 'mk.cc': 8282492, 'ci.mk': 9778501, 'ci.pi': 21406244, 'mc.mk': 66238697}

In [ ]:
t1=[{'like': ['mi.info', {'literal': 'USA:%200%'}]}]
t2=[{'fgdd': ['mi.info', {'literal': 'USA:%200%'}]}]
print(t.)